package ${packageName}.domain;

#foreach ($column in $columns)
#if($column.javaField=='tenantId')
#set($IsTenant=1)
#end
#end
import com.layjava.common.mybatis.core.domain.BaseEntity;
import com.mybatisflex.annotation.Column;
import com.mybatisflex.annotation.Id;
import com.mybatisflex.annotation.Table;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#foreach ($import in $importList)
import ${import};
#end

import java.io.Serial;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#set($Entity="BaseEntity")
@Data
@Table("${tableName}")
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
public class ${ClassName} extends ${Entity} {

    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
#if($column.javaField=='delFlag')
#end
#if($column.javaField=='version')
    @Column(version = true)
#end
#if($column.isPk==1)
    @Id
#end
    private $column.javaType $column.javaField;

#end
#end

}
