import {request} from '@/service/http'

/**
 * 查询${functionName}列表
 * @param params
 * @returns {*}
 */
export function get${BusinessName}List(params?: ${ModuleName}.${BusinessName}Query) {
  return request.Get<Service.ResponsePageResult<${ModuleName}.${BusinessName}Vo>>('/${moduleName}/${businessName}/list', { params })
}

/**
 * 查询表详细信息
 * @returns 查询表详细信息
 */
export function get${BusinessName}(${pkColumn.javaField}: string) {
  return request.Get<Service.ResponseResult<${ModuleName}.${BusinessName}Vo>>(`/${moduleName}/${businessName}/${${pkColumn.javaField}}`)
}

/**
 * 新增${functionName}
 * @param data
 */
export function add${BusinessName}(data: ${ModuleName}.${BusinessName}Form) {
  return request.Post<Service.ResponseResult<void>>('/${moduleName}/${businessName}', data)
}

/**
 * 修改${functionName}
 * @param data
 */
export function update${BusinessName}(data: ${ModuleName}.${BusinessName}Form) {
  return request.Put<Service.ResponseResult<void>>('/${moduleName}/${businessName}', data)
}

/**
 * 删除${functionName}
 * @param ${pkColumn.javaField}
 */
export function delete${BusinessName}(${pkColumn.javaField}: string | Array<string>) {
  return request.Delete<Service.ResponseResult<void>>(`/${moduleName}/${businessName}/${${pkColumn.javaField}}`)
}
