/**
 * ${functionName}
 *
 * @author ${author}
 * @date ${datetime}
 */
namespace ${ModuleName} {
    /** ${functionName}Vo */
    interface ${BusinessName}Vo {
#foreach ($column in $columns)
#if($column.list)
      /** $column.columnComment */
      $column.javaField:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string#elseif($column.javaType == 'Long' || $column.javaType == 'Integer' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal') number#elseif($column.javaType == 'Boolean') boolean#else string#end
    #if($column.htmlType == "imageUpload")
      /** ${column.columnComment}Url */
      ${column.javaField}Url: string
#end
#end
#end
    }
    /** ${functionName}Query */
    interface ${BusinessName}Query extends PageQuery {
#foreach ($column in $columns)
#if($column.query)
      /** $column.columnComment */
      $column.javaField?:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string#elseif($column.javaType == 'Long' || $column.javaType == 'Integer' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal') number#elseif($column.javaType == 'Boolean') boolean#else string#end
#end
#end
      /** 其他参数 */
      params?: any
    }
    /** ${functionName}Form */
    interface ${BusinessName}Form extends BaseEntity {
#foreach ($column in $columns)
#if($column.insert || $column.edit)
      /** $column.columnComment */
      $column.javaField?:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string#elseif($column.javaType == 'Long' || $column.javaType == 'Integer' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal') number#elseif($column.javaType == 'Boolean') boolean#else string#end
#end
#end
    }
}
